{% extends 'base.html' %}
{% block title %}
Search results
{% endblock title %}
{% block body %}
<div class="container">
<h2>Search results:</h2>
{% if allPosts|length < 1 %}
<h3>Your Search is not found {{ query }}</h3>
<p>There are no Search results you can try using some other keywords or may be after some time there would be a article about your query</p>
<h3>Try these to find your article</h3>
<ul>
<li>Try more general keywords</li>
<li>Make sure that all words are spelled correctly</li>
<li>Try different keywords</li>
</ul>
{% endif %}
{% for post in allPosts %}

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Video by {{post.author}}</strong>
          <h3 class="mb-0"><a class="text-dark" href="/videos/{{post.slug}}">{{post.title}}</a></h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <div class="my-2">
          <a href="/videos/{{post.slug}}" role="button" class="btn btn-outline-danger">Open video</a>
          </div>
        </div>
   <div class="col-auto d-none d-lg-block">
        </div>     
      </div>
      {% endfor %}
      </div>
{% endblock body %}